PORT=5001
MONGODB_URI=mongodb://localhost:27017/patient_healthcare
JWT_SECRET=patient_secret_key_change_in_production
ML_API_URL=http://localhost:8000
BLOCKCHAIN_RPC_URL=http://localhost:8545
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
NODE_ENV=development
